In [124]:
from datetime import date
from prophet import Prophet
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
df = pd.read_csv("../Resources/btcjoin.csv", parse_dates=['date'])
btc_df = yf.download('BTC-USD')
btc_df = btc_df.reset_index()
btc_df = btc_df.loc[(btc_df['Date'] > '2022-10-25')]
btc_df['Close']=btc_df['Close'].astype("float")
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype("float")
btc_df = btc_df.rename(columns={"Close": "price", "Date":"date"})
df = pd.merge(df, btc_df, on=['date', 'price'], how='outer')
df = df.rename(columns={"value": "wallets"})
df = df.drop(columns=['volume','change', 'low', 'high', 'open','Open','High','Low','Adj Close', 'Volume', 'Unnamed: 0', "wallets", "address", "mined"])

[*********************100%***********************]  1 of 1 completed

In [125]:
df['change'] = (df['price'].pct_change())*100
df = df.dropna()

In [126]:
df

           date         price    change
1    2010-09-26      0.100000  0.000000
2    2010-09-27      0.100000  0.000000
3    2010-09-28      0.100000  0.000000
4    2010-09-29      0.100000  0.000000
5    2010-09-30      0.100000  0.000000
...         ...           ...       ...
4419 2022-11-28  16217.322266 -1.382243
4420 2022-11-29  16444.982422  1.403809
4421 2022-11-30  17168.566406  4.400029
4422 2022-12-01  16967.132812 -1.173270
4423 2022-12-02  17088.660156  0.716252

[4423 rows x 3 columns]