In [ ]:
# Import libraries
import json
import requests

# defining key/request url
key = "https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT"

# requesting data from url
data = requests.get(key)
data = data.json()
print(f"{data['symbol']} price is {data['price']}")

In [ ]:
import requests
import pandas as pd


r = requests.get(f'http://api.senticrypt.com/v1/history/bitcoin-2022-09-22_08.json')

sentic = pd.DataFrame(r.json())
sentic.timestamp = pd.to_datetime(sentic.timestamp, unit='s')
sentic.set_index('timestamp',inplace=True)

sentic

In [41]:
import pandas as pd
import yfinance as yf

In [42]:
btc_df = yf.download('BTC-USD')
btc_df = btc_df.reset_index()
btc_df = btc_df.loc[(btc_df['Date'] > '2022-10-25')]
btc_df = btc_df.rename(columns={"Close": "price", "Date":"date"})
btc_df

[*********************100%***********************]  1 of 1 completed

,date,Open,High,Low,price,Adj Close,Volume
2961,2022-10-26,20092.236328,20938.134766,20076.117188,20770.441406,20770.441406,58895950537
2962,2022-10-27,20772.802734,20854.044922,20255.373047,20285.835938,20285.835938,49625110402
2963,2022-10-28,20287.957031,20724.980469,20086.068359,20595.351562,20595.351562,43994715910
2964,2022-10-29,20595.103516,20988.394531,20566.484375,20818.476562,20818.476562,40369840645
2965,2022-10-30,20817.982422,20917.005859,20547.462891,20635.603516,20635.603516,31486345556
2966,2022-10-31,20633.695312,20795.320312,20287.458984,20495.773438,20495.773438,45668466815
2967,2022-11-01,20494.898438,20647.289062,20359.845703,20485.273438,20485.273438,39819303159
2968,2022-11-02,20482.958984,20742.810547,20087.134766,20159.503906,20159.503906,55552169483
2969,2022-11-03,20162.689453,20382.095703,20086.240234,20209.988281,20209.988281,43228750179
2970,2022-11-04,20208.769531,21209.560547,20188.019531,21147.230469,21147.230469,64072727950
2971,2022-11-05,21144.832031,21446.886719,21097.634766,21282.691406,21282.691406,37846047609
2972,2022-11-06,21285.056641,21345.376953,20920.191406,20926.486328,20926.486328,35082693210
2973,2022-11-07,20924.621094,21053.246094,20489.972656,20602.816406,20602.816406,53510852236
2974,2022-11-08,20600.671875,20664.607422,17603.544922,18541.271484,18541.271484,118992465607
2975,2022-11-09,18543.761719,18590.458984,15682.692383,15880.780273,15880.780273,102905151606
2976,2022-11-10,15883.158203,18054.312500,15834.018555,17586.771484,17586.771484,83202283721
2977,2022-11-11,17583.251953,17650.943359,16543.482422,17034.292969,17034.292969,55871616488
2978,2022-11-12,17036.875000,17066.675781,16651.775391,16799.185547,16799.185547,29717699419
2979,2022-11-13,16799.722656,16920.765625,16320.634766,16353.365234,16353.365234,27209183682
2980,2022-11-14,16352.028320,17109.324219,15872.941406,16618.199219,16618.199219,49630243054
2981,2022-11-15,16617.484375,17051.962891,16542.550781,16884.613281,16884.613281,36599436183
2982,2022-11-16,16884.341797,16960.294922,16430.111328,16669.439453,16669.439453,33925512989
2983,2022-11-17,16670.425781,16726.439453,16460.683594,16687.517578,16687.517578,27868914022
2984,2022-11-18,16687.912109,16947.058594,16564.611328,16697.777344,16697.777344,26862218609
2985,2022-11-19,16696.220703,16797.876953,16570.410156,16711.546875,16711.546875,16106223492
2986,2022-11-20,16712.919922,16746.779297,16248.692383,16291.832031,16291.832031,21313378652
2987,2022-11-21,16291.223633,16291.223633,15599.046875,15787.284180,15787.284180,37429485518
2988,2022-11-22,15782.300781,16253.047852,15656.606445,16189.769531,16189.769531,30726828760
2989,2022-11-23,16195.588867,16638.193359,16170.502930,16610.707031,16610.707031,32958875628
2990,2022-11-24,16611.636719,16771.474609,16501.767578,16604.464844,16604.464844,26129037414
2991,2022-11-25,16602.269531,16603.316406,16388.404297,16521.841797,16521.841797,18678255976
2992,2022-11-26,16521.576172,16666.863281,16416.228516,16464.281250,16464.281250,18000008764
2993,2022-11-27,16463.882812,16594.406250,16437.025391,16444.626953,16444.626953,20443898509
2994,2022-11-28,16440.222656,16482.933594,16054.530273,16217.322266,16217.322266,27743025156
2995,2022-11-29,16217.639648,16522.257812,16139.396484,16444.982422,16444.982422,23581685468

In [43]:
from datetime import date
from prophet import Prophet
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("../Resources/btcjoin.csv", parse_dates=['date'])
df = df.drop(columns=['volume','change', 'low', 'high', 'open'])
df = df.rename(columns={"value": "wallets"})
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype("float")
df

           date    price   wallets   address        mined
0    2010-09-25      0.1         2     656.0   4109450.00
1    2010-09-26      0.1         2     444.0   4110750.00
2    2010-09-27      0.1         2    1070.0   4132150.00
3    2010-09-28      0.1         2    1503.0   4133200.00
4    2010-09-29      0.1         2    1049.0   4148050.00
...         ...      ...       ...       ...          ...
4381 2022-10-21  19162.6  84879615  924681.0  19185681.25
4382 2022-10-22  19204.8  84888147  830404.0  19186618.75
4383 2022-10-23  19571.2  84893809  804140.0  19187600.00
4384 2022-10-24  19331.5  84902680  919344.0  19188556.25
4385 2022-10-25  20073.1  84909074  826804.0  19189162.50

[4386 rows x 5 columns]

In [44]:
df_merged = pd.merge(df, btc_df, on=['date', 'price'], how='outer')
df_merged

,date,price,wallets,address,mined,Open,High,Low,Adj Close,Volume
0,2010-09-25,0.100000,2.0,656.0,4109450.0,NaN,NaN,NaN,NaN,NaN
1,2010-09-26,0.100000,2.0,444.0,4110750.0,NaN,NaN,NaN,NaN,NaN
2,2010-09-27,0.100000,2.0,1070.0,4132150.0,NaN,NaN,NaN,NaN,NaN
3,2010-09-28,0.100000,2.0,1503.0,4133200.0,NaN,NaN,NaN,NaN,NaN
4,2010-09-29,0.100000,2.0,1049.0,4148050.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4416,2022-11-25,16521.841797,NaN,NaN,NaN,16602.269531,16603.316406,16388.404297,16521.841797,1.867826e+10
4417,2022-11-26,16464.281250,NaN,NaN,NaN,16521.576172,16666.863281,16416.228516,16464.281250,1.800001e+10
4418,2022-11-27,16444.626953,NaN,NaN,NaN,16463.882812,16594.406250,16437.025391,16444.626953,2.044390e+10
4419,2022-11-28,16217.322266,NaN,NaN,NaN,16440.222656,16482.933594,16054.530273,16217.322266,2.774303e+10
4420,2022-11-29,16444.982422,NaN,NaN,NaN,16217.639648,16522.257812,16139.396484,16444.982422,2.358169e+10